---
dependency:
  name: galaxy
  enabled: false
  options:
    role-file: requirements.yml
driver:
  name: docker
lint: |
  yamllint .
  ansible-lint
platforms:
  - name: instance
    image: "geerlingguy/docker-${MOLECULE_DISTRO:-debian12}-ansible:latest"
    command: ""
    capabilities:
      - SYS_ADMIN
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /sys/kernel/security:/sys/kernel/security:rw
    cgroupns_mode: host
    tmpfs:
      - /tmp
      - /run
    env:
      container: docker
provisioner:
  name: ansible
  env:
    # ANSIBLE_COLLECTIONS_PATH must point to the directory containing ansible_collections/
    # From molecule/default/ we need to go up 6 levels:
    ANSIBLE_COLLECTIONS_PATH: ../../../../../../
  playbooks:
    converge: converge.yml
    prepare: prepare.yml
  config_options:
    defaults:
      host_key_checking: false
      interpreter_python: auto_silent
      remote_tmp: /tmp
    connection:
      timeout: 30
verifier:
  name: ansible
